header {
    display         : flex;
    justify-content : space-evenly;
    align-items     : center;
    background-color: black;
    height          : fit-content;
    padding         : .5%;
}

#logomarca img {
    max-height: 7vh;
    max-width : 12vw;
}

#search {
    background-color: #ffffff;
    border          : none;
    border-radius   : 2px;
    max-width       : fit-content;
    height          : 2vw;
    margin          : 0;
    padding         : 0;
}

#search input {
    float           : left;
    background-color: transparent;
    font-style      : italic;
    font-size       : 1.3vw;
    border          : none;
    width           : 25vw;
    height          : inherit;
    padding-left    : 5px;
}

#search button img {
    float : right;
    height: 100%;
}

#search button {
    float           : right;
    height          : inherit;
    border          : none;
    background-color: transparent;
    cursor          : pointer;
    margin          : 0;
    padding         : .5vw;
}

.quickAccess {
    display        : flex;
    text-align     : center;
}

.quickAccess img {
    height    : 3vw;
    max-height: 4vh;
    scale     : 1;
}

.quickAccess #shopping-cart {
    margin: 0 20%;
}

.quickAccess a {
    width: fit-content;
}

#banner {
    padding: 0;
    margin : 0;
    height : 30vw;
}

#banner img {
    height: inherit;
}

#menu {
    display         : flex;
    align-items     : center;
    text-align      : center;
    justify-content : space-around;
    background-color: black;
    margin          : 0;
    padding         : 1% 10%;
    height          : fit-content;
}

#menu .item {
    display         : flex;
    justify-content : space-around;
    align-items     : center;
    background-color: #2764ff;
    height          : 2.3vw;
    width           : 18vw;
    padding         : .1vw 0;
}

#categories-menu {
    cursor: pointer;
}

#categories-menu img {
    height     : 1.3vw;
}

#categories-menu, #menu a {
    color: white;
    font-size: 1.3vw;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    top     : 100%;
    background-color: #2764ff;
    min-width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    padding   : .5vw;
    display   : block;
}

#menu .item:hover, .dropdown-content a:hover {
    background-color: #20AB1D;
}

.dropdown:hover .dropdown-content {
  display: block;
}
