#social-media {
    background-color: black;
    color           : white;
    font-size       : 1.3vw;
    text-align      : center;
    align-items     : center;
    padding         : 1%;
    margin          : 5% 0;
}

#photos .listOfPhotos {
    display: flex;
    align-items: center;
    text-align: center;
    padding: 0 5%;
}

#photos a {
    width: fit-content;
    margin: 2%;
}

@media only screen and (max-width:430px) {
    #photos img {
        max-width: 50vw;
        scale    : 1;
    }

    #products .listOfProducts {
        display  : flex;
        min-width: 30vw;
        height   : 18vw;
        margin   : 10% 0;
        padding  : 0 10%;
    }

    #products a {
        flex     : 1;
        color    : black;
        margin   : 0;
        font-size: 1.2vw;
    }

    #products img {
        max-height: 80%;
        max-width : 17vw;
        scale     : 1;
    }

    #photos {
        align-items: center;
        text-align : center;
        padding-left: 20%;
    }
}

@media only screen and (min-width:431px) {
    #photos img {
        max-height: 18vw;
        scale     : 1;
    }

    #products .listOfProducts {
        display  : flex;
        min-width: 22vw;
        height   : 12vw;
        margin   : 10% 0;
    }

    #products a {
        flex     : 1;
        color    : black;
        margin   : 0 4%;
        font-size: 1.2vw;
    }

    #products img {
        max-height: 80%;
        max-width : 17vw;
        scale     : 1;
    }
}