<footer class="bg-dark">
    <div class="container">
        <div class="row row-cols-2 row-cols-sm-3 row-cols-lg-6 text-center">
            <div class="col">
                INSTITUCIONAL
                <a routerLink="/information" class="nav-link link-item rounded"
                    >Quem somos</a
                >
                <a routerLink="/information" class="nav-link link-item rounded"
                    >Localização</a
                >
                <a routerLink="/information" class="nav-link link-item rounded"
                    >Nossa loja</a
                >
            </div>
            <div class="col">
                DÚVIDAS
                <a routerLink="/contact" class="nav-link link-item rounded"
                    >Entrega</a
                >
                <a routerLink="/contact" class="nav-link link-item rounded"
                    >Garantia</a
                >
                <a routerLink="/contact" class="nav-link link-item rounded"
                    >Como comprar</a
                >
                <a routerLink="/contact" class="nav-link link-item rounded"
                    >Formas de pagamento</a
                >
            </div>
            <div class="col">
                AJUDA
                <a routerLink="/contact" class="nav-link link-item rounded"
                    >SAC</a
                >
                <a routerLink="/contact" class="nav-link link-item rounded"
                    >Fale conosco</a
                >
            </div>
            <div class="col">
                CLIENTE
                <a routerLink="/account" class="nav-link link-item rounded"
                    >Minha conta</a
                >
                <a routerLink="/account" class="nav-link link-item rounded"
                    >Meus pedidos</a
                >
            </div>
            <div class="col">
                <div class="footer-link">
                    <p>CONTATO</p>
                    <a routerLink="/contact"
                        ><img
                            src="./assets/img/icons/headphone.png"
                            alt="headphone.png"
                            class="img-fluid"
                    /></a>
                </div>
            </div>
            <div class="col">
                <div class="footer-link">
                    <p>REDES SOCIAIS</p>
                    <a href="https://www.facebook.com/" target="_blank"
                        ><img
                            src="./assets/img/icons/facebook.png"
                            alt="facebook.png"
                            class="img-fluid"
                    /></a>
                    <a href="https://www.instagram.com/" target="_blank"
                        ><img
                            src="./assets/img/icons/instagram.png"
                            alt="instagram.png"
                            class="img-fluid"
                    /></a>
                </div>
            </div>
        </div>
    </div>
</footer>
