body {
    margin: 0;
    padding: 0;
}

#title-bar {
    display: flex;
    background-color: black;
    text-align: center;
    align-items: center;
    height: 99px;
    margin: 0;
    padding: 0;
}

.items {
    flex: 1;
}

#search-bar {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    border: solid 1px;
    width: 58%;
    height: 30px;
    margin: 0;
    padding: 1px;
}

#search-bar input {
    float: left;
    background-color: transparent;
    padding-left: 5px;
    font-style: italic;
    font-size: 18px;
    border: none;
    height: inherit;
    width: 100%;
    flex: 15;
}

#search-bar img{
    height: inherit;
    flex: 1;
}

#quickAccess {
    display: flex;
}

#user, #cart, #headphone {
    width: 40px;
    height: 40px;
}

label {
    color: white;
}

#menu {
    display: flex;
    background-color: black;
    text-align: center;
    align-items: center;
    height: 70px;
    margin: 0;
    padding: 0;
}
