<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="nav nav-justified align-items-center container-fluid">
                <li class="nav-item dropdown">
                    <a
                        class="nav-link dropdown-toggle link-item rounded"
                        routerLink="/#"
                        id="navbarDropdown"
                        role="button"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                    >
                        Todas as categorias
                    </a>
                    <ul
                        class="dropdown-menu bg-dark"
                        aria-labelledby="navbarDropdown"
                    >
                        <li>
                            <a
                                class="nav-link dropdown-item link-item rounded"
                                routerLink="/#"
                                ># Computadores</a
                            >
                        </li>
                        <li>
                            <a
                                class="nav-link dropdown-item link-item rounded"
                                routerLink="/#"
                                ># Smartphones</a
                            >
                        </li>
                        <li>
                            <a
                                class="nav-link dropdown-item link-item rounded"
                                routerLink="/#"
                                ># Tablets</a
                            >
                        </li>
                        <li>
                            <a
                                class="nav-link dropdown-item link-item rounded"
                                routerLink="/#"
                                ># Consoles</a
                            >
                        </li>
                        <li>
                            <a
                                class="nav-link dropdown-item link-item rounded"
                                routerLink="/#"
                                ># Hardware</a
                            >
                        </li>
                        <li>
                            <a
                                class="nav-link dropdown-item link-item rounded"
                                routerLink="/#"
                                ># Periféricos</a
                            >
                        </li>
                        <li>
                            <a
                                class="nav-link dropdown-item link-item rounded"
                                routerLink="/#"
                                ># Produtos digitais</a
                            >
                        </li>
                        <li>
                            <a
                                class="nav-link dropdown-item link-item rounded"
                                routerLink="/#"
                                ># Cadeiras</a
                            >
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a
                        id="news"
                        class="nav-link link-item rounded text-center"
                        routerLink="/#"
                        >Novidades</a
                    >
                </li>
                <li class="nav-item">
                    <a
                        id="promotion"
                        class="nav-link link-item rounded text-center"
                        routerLink="/promotion"
                        >Promoções</a
                    >
                </li>
                <li class="nav-item">
                    <a
                        id="kit"
                        class="nav-link link-item rounded text-center"
                        routerLink="/#"
                        >Kits</a
                    >
                </li>
            </ul>
        </div>
    </div>
</nav>
