<app-header></app-header>
<app-navbar></app-navbar>
<div class="section">
    <div id="container">
        <div class="row row-cols-1 row-cols-lg-2 gx-lg-5">
            <div class="col text-center">
                <h2 id="sign-in">JÁ TENHO CADASTRO</h2>
                <div class="row row-cols-1 justify-content-center">
                    <input
                        type="text"
                        class="col rounded"
                        placeholder="E-mail, CPF ou CNPJ *"
                    />
                    <input
                        type="password"
                        class="col rounded"
                        placeholder="Senha *"
                    />
                    <button type="button" class="col btn btn-success">
                        ENTRAR
                    </button>
                </div>
            </div>
            <div class="col text-center">
                <h2 id="sign-up">QUERO ME CADASTRAR</h2>
                <div class="row row-cols-1 justify-content-center">
                    <input
                        type="text"
                        class="col rounded"
                        placeholder="E-mail *"
                    />
                    <input
                        type="password"
                        class="col rounded"
                        placeholder="Crie sua senha *"
                    />
                    <input
                        type="password"
                        class="col rounded"
                        placeholder="Confirme sua senha *"
                    />
                    <input
                        type="text"
                        class="col rounded"
                        placeholder="CPF / CNPJ *"
                    />
                    <input
                        type="text"
                        class="col rounded"
                        placeholder="CEP *"
                    />
                    <button type="button" class="col btn btn-success">
                        CADASTRAR
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>
