footer {
	padding: 2%;
}

@media only screen and (max-width: 575px) {
	footer {
		padding-left: 12%;
	}
}

footer .col {
	font-weight: bold;
	font-size: 0.8rem;
	color: #198754;
	text-align: left;
	margin-top: 2%;
}

footer .link-item {
	font-weight: normal;
}

footer .footer-link {
	text-align: center;
	float: left;
}
