footer .nav .nav-item {
	margin: 3%;
	text-align: left;
}

footer .nav .nav-item p {
	color: #198754;
	list-style: none;
	margin: 0;
	padding: 0;
}

footer .nav .nav-item .nav-link {
	padding: 5%;
}

footer .nav .footer-link {
	text-align: center !important;
}
