/* Header */
@media only screen and (min-width: 600px) {
	header .nav,
	header .navbar,
	header .nav-item,
	header .nav-link {
		height: 8vw !important;
	}
}

@media only screen and (max-width: 600px) {
	header .nav,
	header .navbar,
	header .nav-item,
	header .nav-link {
		height: 10vw !important;
	}
}

header .nav,
header .navbar,
header .nav-item,
header .nav-link {
	margin: 0 !important;
	padding: 0 !important;
}

/* Header - item 1 */
header .img-fluid {
	max-height: 80%;
}

/* Header - item 2 */
header form.d-flex {
	height: 3vw;
	width: 100%;
}

header form .form-control,
header form .btn {
	height: inherit;
	padding: 0 1%;
	border-radius: 0;
	font-size: 1.2vw;
}

/* Header - item 3 */
header .nav .nav-item .d-flex .nav-item .nav-link {
	font-size: 1.3vw;
}

header .quick-access .nav-link {
	height: 80% !important;
	width: 60% !important;
	padding: 0 !important;
}

header .quick-access .img-fluid {
	max-height: 50%;
}
