.link-item:focus,
.link-item:hover {
  background-color: #198754 !important;
  border-color: #198754 !important;
  color: white !important;
  text-decoration: none !important;
}

.section {
  background-color: rgb(230, 230, 230);
  height: fit-content;
  padding: 5%;
}

.footer-link:hover {
  color: #198754;
  z-index: 1;
}
