.media .row {
	height: fit-content;
}

.media .col .link {
	background-color: rgb(240, 240, 240);
	display: inline-block;
	height: fit-content;
	width: fit-content;
	text-decoration: none;
	color: black;
}

@media only screen and (min-width: 992px) {
	.media .col .link .image {
		height: 18vw;
		width: auto;
	}
}

@media only screen and (max-width: 991px) {
	.media .col .link .image {
		max-width: 50vw;
		height: auto;
	}
}
