.media h4 {
  height: 2vw;
  margin-bottom: 4% 0;
}

.media h4 .img-fluid {
  max-height: 2vw;
}

.media .row {
  height: fit-content;
}

.media .row .col,
.media .row .col .d-flex .product {
  height: fit-content;
  width: fit-content;
}

.media .row .col:hover {
  box-shadow: 0 0 2vw 1vw rgba(0, 0, 0, 0.2);
}
