.media .row {
  height: fit-content;
}

.media .link {
  height: fit-content;
  width: fit-content;
  color: black;
}

@media only screen and (min-width: 992px) {
  .media .link .img-fluid {
    max-height: 18vw;
  }
}

@media only screen and (max-width: 991px) {
  .media .link .img-fluid {
    max-width: 80%;
  }
}
