<header>
  <ul class="nav nav-justified navbar-dark bg-dark">
    <li class="nav-item d-flex justify-content-center align-items-center">
      <a
        routerLink="main-page"
        class="nav-link d-flex justify-content-center align-items-center"
      >
        <img
          src="assets/logo-banner/logomarca1.png"
          alt="logomarca"
          class="img-fluid"
        />
      </a>
    </li>
    <li class="nav-item d-flex justify-content-center align-items-center">
      <form class="d-flex">
        <input
          class="
            form-control
            d-flex
            justify-content-center
            align-items-center
            rounded-start
          "
          type="search"
          placeholder="Busque seu produto ..."
          aria-label="Search"
        />
        <button
          class="
            btn btn-primary btn-outline-primary
            d-flex
            justify-content-center
            align-items-center
            rounded-end
            link-item
          "
          type="submit"
        >
          <img
            src="assets/icons/magnifying-glass.png"
            alt="magnifying-glass.png"
            class="img-fluid"
          />
        </button>
      </form>
    </li>
    <li
      class="
        nav-item
        d-flex
        justify-content-center
        align-items-center
        quick-access
      "
    >
      <ul
        class="d-flex container-fluid align-items-center justify-content-center"
      >
        <li class="nav-item d-flex justify-content-center align-items-center">
          <a
            routerLink="account"
            class="
              nav-link
              link-item
              rounded
              d-flex
              align-items-center
              justify-content-center
              flex-column
            "
          >
            <img src="assets/icons/user.png" alt="user.png" class="img-fluid" />
            Login
          </a>
        </li>
        <li class="nav-item d-flex justify-content-center align-items-center">
          <a
            routerLink="account"
            class="
              nav-link
              link-item
              rounded
              d-flex
              align-items-center
              justify-content-center
              flex-column
            "
          >
            <img src="assets/icons/cart.png" alt="cart.png" class="img-fluid" />
            Carrinho
          </a>
        </li>
        <li class="nav-item d-flex justify-content-center align-items-center">
          <a
            routerLink="contact"
            class="
              nav-link
              link-item
              rounded
              d-flex
              align-items-center
              justify-content-center
              flex-column
            "
          >
            <img
              src="assets/icons/headphone.png"
              alt="headphone.png"
              class="img-fluid"
            />
            Contato
          </a>
        </li>
      </ul>
    </li>
  </ul>
</header>

<img src="assets/logo-banner/banner.png" alt="banner" class="img-fluid" />

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="nav nav-justified align-items-center container-fluid">
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle link-item rounded"
            routerLink="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Todas as categorias
          </a>
          <ul class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
            <li>
              <a class="nav-link dropdown-item link-item rounded" routerLink="#"
                ># Computadores</a
              >
            </li>
            <li>
              <a class="nav-link dropdown-item link-item rounded" routerLink="#"
                ># Smartphones</a
              >
            </li>
            <li>
              <a class="nav-link dropdown-item link-item rounded" routerLink="#"
                ># Tablets</a
              >
            </li>
            <li>
              <a class="nav-link dropdown-item link-item rounded" routerLink="#"
                ># Consoles</a
              >
            </li>
            <li>
              <a class="nav-link dropdown-item link-item rounded" routerLink="#"
                ># Hardware</a
              >
            </li>
            <li>
              <a class="nav-link dropdown-item link-item rounded" routerLink="#"
                ># Periféricos</a
              >
            </li>
            <li>
              <a class="nav-link dropdown-item link-item rounded" routerLink="#"
                ># Produtos digitais</a
              >
            </li>
            <li>
              <a class="nav-link dropdown-item link-item rounded" routerLink="#"
                ># Cadeiras</a
              >
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link link-item rounded text-center" routerLink="news"
            >Novidades</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link link-item rounded text-center"
            routerLink="promotion"
            >Promoções</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link link-item rounded text-center" routerLink="kits"
            >Kits</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>

<footer class="bg-dark">
  <div class="container">
    <div class="row row-cols-2 row-cols-sm-3 row-cols-lg-6 text-center">
      <div class="col">
        INSTITUCIONAL
        <a routerLink="information" class="nav-link link-item rounded"
          >Quem somos</a
        >
        <a routerLink="information" class="nav-link link-item rounded"
          >Localização</a
        >
        <a routerLink="information" class="nav-link link-item rounded"
          >Nossa loja</a
        >
      </div>
      <div class="col">
        DÚVIDAS
        <a routerLink="contact" class="nav-link link-item rounded">Entrega</a>
        <a routerLink="contact" class="nav-link link-item rounded">Garantia</a>
        <a routerLink="contact" class="nav-link link-item rounded"
          >Como comprar</a
        >
        <a routerLink="contact" class="nav-link link-item rounded"
          >Formas de pagamento</a
        >
      </div>
      <div class="col">
        AJUDA
        <a routerLink="contact" class="nav-link link-item rounded">SAC</a>
        <a routerLink="contact" class="nav-link link-item rounded"
          >Fale conosco</a
        >
      </div>
      <div class="col">
        CLIENTE
        <a routerLink="account" class="nav-link link-item rounded"
          >Minha conta</a
        >
        <a routerLink="account" class="nav-link link-item rounded"
          >Meus pedidos</a
        >
      </div>
      <div class="col">
        <div class="footer-link">
          <p>CONTATO</p>
          <a routerLink="contact"
            ><img
              src="assets/icons/headphone.png"
              alt="headphone.png"
              class="img-fluid"
          /></a>
        </div>
      </div>
      <div class="col">
        <div class="footer-link">
          <p>REDES SOCIAIS</p>
          <a href="https://www.facebook.com/" target="_blank"
            ><img
              src="assets/icons/facebook.png"
              alt="facebook.png"
              class="img-fluid"
          /></a>
          <a href="https://www.instagram.com/" target="_blank"
            ><img
              src="assets/icons/instagram.png"
              alt="instagram.png"
              class="img-fluid"
          /></a>
        </div>
      </div>
    </div>
  </div>
</footer>
