footer {
    background-color   : black;
    display            : grid;
    grid-template-areas: "a a a a a a";
    grid-auto-columns  : fit-content;
    grid-auto-rows     : fit-content;
    gap                : 2vw;
    padding            : 2vw 5vw;
    height             : fit-content;
}

.footer-block {
    height    : 10vw;
    width     : 10vw;
    text-align: left;
}

.footer-block-title {
    color    : #20ab1d;
    font-size: 1vw;
}

.footer-item {
    height     : 2vw;
    width      : 100%;
    display    : flex;
    align-items: center;
    font-size  : 1vw;
}

.footer-item img {
    width : .4vw;
    margin: 0 2%;
}

.access-links {
    text-align: center;
}

.access-links img {
    width: 2vw;
}