<app-header></app-header>
<div class="section">
    <div class="container">
        <h2>Quem Somos</h2>
        <p>
            Fundada no ano de 2007, a Pichau Informática é uma empresa que
            trabalha com os mais variados produtos, atuando principalmente no
            setor de informática e equipamentos eletrônicos em geral, área
            bastante competitiva e em constante crescimento, onde qualidade,
            variedade, garantia e eficiência são critérios importantíssimos para
            total satisfação, confiança e preferência de nossos consumidores.
            Além do nosso e-commerce possuímos uma loja física situada em
            Joinville/SC, onde temos a variedade de nosso site ao gosto dos mais
            exigentes clientes. Oferecemos não apenas a comodidade da compra
            online, mas também o tratamento olho no olho que muitos preferem e
            sempre confiam. Procuramos acima de tudo oferecer o que há de
            melhor, os melhores fornecedores, os mais atualizados produtos, o
            mais atencioso dos atendimentos, juntamente com os preços mais
            competitivos e atraentes do mercado para que nosso público encontre
            não apenas variedade e qualidade, mas também uma empresa que se
            preocupa com a felicidade e total satisfação de seus clientes e por
            que não, amigos! Além de nosso site, visite também nossa loja
            estamos a sua espera!
        </p>

        <div class="row row-cols-1 row-cols-lg-3 info">
            <div class="col">
                <h2>Dados da Loja</h2>
                <p>Razão Social: BAZAM E PICHAU INFORMATICA LTDA</p>
                <p>CNPJ: 09.376.495/0001-22</p>
                <p>Inscrição Estadual: 256042942</p>
            </div>

            <div class="col">
                <h2>Localização</h2>
                <p>Rua Dr. João Colin, 572</p>
                <p>Bairro: América</p>
                <p>CEP: 89201-300</p>
                <p>Joinville/SC</p>
            </div>

            <div class="col">
                <h2>Contato</h2>
                <p>Email: sac@pichau.com.br</p>
                <p>Nossos telefones: (47) 3305-5150</p>
                <p>
                    Horários de Atendimento: Segunda a Sexta 8h às 12h e das 13h
                    às 18h
                </p>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>
