<div
  class="flip-card card text-dark bg-light"
  style="text-decoration: none; font-size: 1.1vw; perspective: 1000px"
  (mouseover)="toggle(product)"
  (mouseout)="toggle(product)"
>
  <div class="flip-card-inner">
    <div class="flip-card-front">
      <div class="card-body d-flex justify-content-center" style="height: 12vw">
        <img
          class="card-img-top"
          src="./assets/img/products/{{ product.src }}"
          alt="{{ product.src }}"
        />
      </div>
    </div>
    <div class="flip-card-back">
      <div class="card-body" style="height: 3vw">
        <div class="card-text">
          {{ product.desc }}
        </div>
      </div>
      <div class="card-body" style="height: 3vw">
        <div class="card-text text-center">
          {{ product.price }}
        </div>
      </div>
    </div>
  </div>
  <div class="card-footer text-center">
    <a
      routerLink="/{{ product.ref }}"
      class="timer btn btn-outline-success"
      [@wordClock]="product.status ? 'clock' : 'word'"
    ></a>
  </div>
</div>
