<app-header></app-header>
<app-navbar></app-navbar>
<div class="section">
    <div class="container text-left">
        <div class="row row-cols-1 row-cols-lg-2 gx-lg-5">
            <div class="col">
                <h2 id="doubts">Dúvidas Frequentes</h2>
                <div class="row row-cols-1">
                    <button type="button" class="btn btn-outline-success">
                        Dúvida sobre Cadastro
                    </button>
                    <button type="button" class="btn btn-outline-success">
                        Dúvida sobre Entrega
                    </button>
                    <button type="button" class="btn btn-outline-success">
                        Dúvida sobre Alteração do Endereço de Entrega
                    </button>
                    <button type="button" class="btn btn-outline-success">
                        Como Acionar a Garantia
                    </button>
                    <button type="button" class="btn btn-outline-success">
                        Como Rastrear o Pedido
                    </button>
                </div>
            </div>
            <div class="col">
                <h2 id="contact">Contato</h2>
                <div class="row row-cols-1">
                    <button type="button" class="btn btn-outline-success">
                        E-mail:
                    </button>
                    <button type="button" class="btn btn-outline-success">
                        Telefone SAC:
                    </button>
                    <button type="button" class="btn btn-outline-success">
                        Inicie um chat online
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>
