body {
    margin     : 0;
    padding    : 0;
    font-family: Arial, Verdana, sans-serif;
}

a {
    text-decoration: none;
    color          : white;
    font-size      : 1vw;
}

p {
    margin : 0;
    padding: 0;
}

header {
    display         : flex;
    text-align      : center;
    align-items     : center;
    background-color: rgb(0, 0, 0);
    height          : fit-content;
    padding         : .5%;
}

.item {
    flex: 1;
}

#logomarca img {
    max-height: 7vh;
    max-width : 12vw;
}

#search {
    background-color: #ffffff;
    border          : none;
    border-radius   : 2px;
    max-width       : fit-content;
    height          : 2vw;
    margin          : 0;
    padding         : 0;
}

#search input {
    float           : left;
    background-color: transparent;
    font-style      : italic;
    font-size       : 1.3vw;
    border          : none;
    width           : 25vw;
    height          : inherit;
    padding-left    : 5px;
}

#search button img {
    float : right;
    height: 100%;
}

#search button {
    float           : right;
    height          : inherit;
    border          : none;
    background-color: transparent;
    cursor          : pointer;
    margin          : 0;
    padding         : .5vw;
}

.quickAccess {
    display   : flex;
    text-align: center;
}

.quickAccess img {
    height    : 3vw;
    max-height: 4vh;
    scale     : 1;
}

.quickAccess a {
    display: flex;
    width  : fit-content;
}

#user {
    padding-left: 20%;
}

#headphone {
    padding-right: 20%;
}

#banner {
    padding: 0;
    margin : 0;
    height : 30vw;
}

#banner img {
    height: inherit;
}

#menu {
    display         : flex;
    text-align      : center;
    align-items     : center;
    background-color: black;
    margin          : 0;
    padding         : 1% 10%;
    height          : fit-content;
}

#menu div {
    margin          : 0 1%;
    background-color: #2764ff;
    min-width       : 12vw;
    width           : fit-content;
    height          : 2vw;
}

#menu a {
    font-size: 1.5vw;
}

#categories-menu img {
    float      : left;
    height     : 95%;
    margin-left: 5%;
}

#products {
    align-items: center;
    text-align : center;
}

#more {
    text-align: center;
}

#more button {
    padding         : 1%;
    background-color: #20AB1D;
    border          : none;
    border-radius   : 2px;
    color           : white;
    font-size       : 1.3vw;
    width           : 20vw;
    cursor          : pointer;
}

#social-media {
    background-color: black;
    color           : white;
    font-size       : 1.3vw;
    text-align      : center;
    align-items     : center;
    padding         : 1%;
    margin          : 5% 0;
}

#photos {
    align-items: center;
    text-align : center;
}

#photos .listOfPhotos {
    display: flex;
    padding: 0 5%;
}

#photos a {
    flex: 1;
}

@media only screen and (max-width:430px) {
    #photos img {
        max-width: 50vw;
        scale    : 1;
    }

    #products .listOfProducts {
        display  : flex;
        min-width: 30vw;
        height   : 18vw;
        margin   : 10% 0;
        padding  : 0 10%;
    }

    #products a {
        flex     : 1;
        color    : black;
        margin   : 0;
        font-size: 1.2vw;
    }

    #products img {
        max-height: 80%;
        max-width : 17vw;
        scale     : 1;
    }

    footer {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: center;
        background-color: black;
        height          : fit-content;
        font-size       : 3vw;
        margin-top      : 5%;
        padding         : 10%;
        padding-top     : 7%;
    }

    footer a {
        font-size: 2vw;
    }

    .sep {
        display     : flex;
        flex        : 1;
        width       : fit-content;
        position    : relative;
        left        : 0;
        right       : 0;
        margin      : 10% auto;
        padding-left: 5%;
    }

    .footer-block {
        width: 30vw;
        margin-top: 5%;
    }

    .footer-block-title {
        font-size: 2.5vw;
        color    : #20AB1D;
    }

    .footer-item img {
        width       : .8vw;
        scale       : 1;
        margin-right: 1vw;
    }

    .accessLinks img {
        padding-left: 7%;
        height      : 3vw;
        max-height  : 4vh;
        scale       : 1;
        margin      : 10% 5%;
    }
}

@media only screen and (min-width:431px) {
    #photos img {
        max-height: 18vw;
        scale     : 1;
    }

    #products .listOfProducts {
        display  : flex;
        min-width: 22vw;
        height   : 12vw;
        margin   : 10% 0;
    }

    #products a {
        flex     : 1;
        color    : black;
        margin   : 0 4%;
        font-size: 1.2vw;
    }

    #products img {
        max-height: 80%;
        max-width : 17vw;
        scale     : 1;
    }

    footer {
        display         : flex;
        background-color: black;
        height          : fit-content;
        text-align      : left;
        margin-top      : 5%;
        padding         : 10%;
        padding-top     : 5%;
    }

    .footer-block {
        flex: 1;
    }

    .footer-block-title {
        color    : #20AB1D;
        font-size: 1.3vw;
        margin   : 5% 0;
    }

    .footer-item {
        display  : flex;
        color    : white;
        font-size: 1vw;
        margin   : 10% 0;
    }

    .footer-item img {
        width       : .8vw;
        height      : .8vw;
        margin-right: 1vw;
    }

    .accessLinks {
        float     : right;
        text-align: center;
    }

    .accessLinks img {
        height    : 3vw;
        max-height: 4vh;
        scale     : 1;
        margin    : 10% 5%;
    }
}