#products-section {
    background-color: rgb(230, 230, 230);
    height          : fit-content;
    padding         : 2%;
}

.products {
    margin: 2%;
}

.products .title {
    height     : 2vw;
    font-size  : 1.5vw;
    display    : flex;
    align-items: center;
}

.products img {
    height      : 80%;
    margin-right: 1%;
}

#new,
#featured {
    position           : relative;
    left               : 0;
    right              : 0;
    margin             : 5% auto;
    width              : fit-content;
    display            : grid;
    grid-template-areas: "a a a a";
    grid-auto-rows     : fit-content;
    grid-auto-columns  : fit-content;
    gap                : 2vw;
}

#products-section a {
    height: fit-content;
    width : fit-content;
}

.new-products,
.featured-products {
    background-color: white;
    height          : fit-content;
    width           : fit-content;
    text-align      : center;
    padding         : 2vw .5vw;
}

.description,
.price {
    width    : 13vw;
    height   : 3.2vw;
    color    : black;
    font-size: .9vw;
}

.image {
    width : 13vw;
    height: 6.4vw;
}

.image img {
    max-width : 90%;
    max-height: 90%;
}

.new-products:hover,
.featured-products:hover {
    box-shadow: 0 0 2vw 1vw rgba(0, 0, 0, .2);
}

#more {
    text-align: center;
}

#more button {
    background-color: #20ab1d;
    border          : none;
    height          : 3vw;
    width           : fit-content;
    font-size       : 1vw;
    color           : white;
    padding         : 0 2%;
}

#more button:hover {
    background-color: #009900;
    cursor          : pointer;
}