<header>
  <ul class="nav nav-justified navbar-dark bg-dark">
    <li class="nav-item d-flex justify-content-center align-items-center">
      <a
        routerLink="/"
        class="nav-link d-flex justify-content-center align-items-center"
      >
        <img
          src="./assets/img/logo-banner/logo.png"
          alt="logomarca"
          class="img-fluid"
        />
      </a>
    </li>
    <li class="nav-item d-flex justify-content-center align-items-center">
      <form class="d-flex">
        <input
          class="
            form-control
            d-flex
            justify-content-center
            align-items-center
            rounded-start
          "
          type="search"
          placeholder="Busque seu produto ..."
          aria-label="Search"
        />
        <button
          class="
            btn btn-primary btn-outline-primary
            d-flex
            justify-content-center
            align-items-center
            rounded-end
            link-item
          "
          type="submit"
        >
          <img
            src="./assets/img/icons/magnifying-glass.png"
            alt="magnifying-glass.png"
            class="img-fluid"
          />
        </button>
      </form>
    </li>
    <li
      class="
        nav-item
        d-flex
        justify-content-center
        align-items-center
        quick-access
      "
    >
      <ul class="d-flex container-fluid align-items-center justify-content-center">
        <li class="nav-item d-flex justify-content-center align-items-center">
          <a
            routerLink="/account"
            class="
              nav-link
              link-item
              rounded
              d-flex
              align-items-center
              justify-content-center
              flex-column
            "
          >
            <img
              src="./assets/img/icons/user.png"
              alt="user.png"
              class="img-fluid"
            />
            Login
          </a>
        </li>
        <li class="nav-item d-flex justify-content-center align-items-center">
          <a
            routerLink="/account"
            class="
              nav-link
              link-item
              rounded
              d-flex
              align-items-center
              justify-content-center
              flex-column
            "
          >
            <img
              src="./assets/img/icons/cart.png"
              alt="cart.png"
              class="img-fluid"
            />
            Carrinho
          </a>
        </li>
        <li class="nav-item d-flex justify-content-center align-items-center">
          <a
            routerLink="/contact"
            class="
              nav-link
              link-item
              rounded
              d-flex
              align-items-center
              justify-content-center
              flex-column
            "
          >
            <img
              src="./assets/img/icons/headphone.png"
              alt="headphone.png"
              class="img-fluid"
            />
            Contato
          </a>
        </li>
      </ul>
    </li>
  </ul>
</header>
